<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://logo" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://logo" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <Label class="action-bar-title" text="Favoritos"colSpan="2"></Label>
</ActionBar>

<GridLayout class="page__content">
    <StackLayout class="nt-form" verticalAlignment="center">
        <Label class="page__content-icon far fa-star" text="🐸"></Label>
        
            <Label class="platform-title" [text]="platformMessage" textWrap="true"></Label>
        
        <!-- Lista renderizada con la directiva *ngFor  -->
        <StackLayout *ngFor="let item of items" class="card p-15 m-5">
            <Label [text]="item.name" class="h3 font-weight-bold text-center"></Label>
        </StackLayout>

        <Button text="Ver Detalle" (tap)="onGoToDetail()" class="btn btn-primary"></Button>
    </StackLayout>
</GridLayout>